[Unit]
Description=Azure-Init
After=hypervkvpd.service hv-kvp-daemon.service
Wants=hypervkvpd.service hv-kvp-daemon.service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/azure-init --hostname
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
