[package]
name = "libazureinit"
version = "0.1.1"
edition = "2021"
build = "build.rs"
repository = "https://github.com/Azure/azure-init/"
homepage = "https://github.com/Azure/azure-init/"
license = "MIT"
description = "A common library for provisioning Linux VMs on Azure."

[dependencies]
reqwest = { version = "0.12.0", default-features = false, features = ["blocking", "json"] }
serde = {version = "1.0.163", features = ["derive"]}
thiserror = "1.0.58"
tokio = { version = "1", features = ["full"] }
serde-xml-rs = "0.6.0"
serde_json = "1.0.96"
nix = {version = "0.29.0", features = ["fs", "user"]}
block-utils = "0.11.1"
tracing = "0.1.40"
strum = { version = "0.26.3", features = ["derive"] }
uuid = { version = "1.0", features = ["v4"] }

[dev-dependencies]
tempfile = "3"
whoami = "1"
mockall = "0.11.0"

[lib]
name = "libazureinit"
path = "src/lib.rs"

