name: "Run CI"
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test:
    name: Build and test azure-init
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust-toolchain: ["1.86.0"]
    steps:
      - name: Install libudev
        run: |
          sudo apt update
          sudo apt install -y libudev-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust-toolchain}}
          components: clippy, rustfmt
      - name: Rustfmt Check
        run: cargo fmt --all --check
      - name: Build azure-init
        run: cargo build --verbose
      - name: Run unit tests
        run: cargo test --verbose --all-features --workspace
      - name: Run clippy
        run: cargo clippy --verbose -- --deny warnings
