name: "Run Clippy for Linting"
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main
  schedule:
      - cron: '0 0 * * 0'

jobs:
  clippy:
    name: Run clippy on azure-init 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust-toolchain: [stable, "1.88.0"]
    steps:
      - name: Install libudev
        run: |
          sudo apt update
          sudo apt install -y libudev-dev
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust-toolchain}}
          components: clippy
      - name: Run clippy
        run: cargo clippy --all-targets --all-features --verbose -- --deny warnings
